body { 
padding-left:100px;
padding-right:100px;
background-image: url(../Asset/AW.jpg);
background-size: cover;
background-repeat: no-repeat;
background-color: black;
font-family: "Netflix Sans", Arial, serif;
height: 500px;
}

.resume
{
	width: 650px;
	color: white;
	margin-bottom: 30px;
}

.play
{
	padding-right: 20px;
}

@font-face 
{
	font-family: 'Netflix Sans';
    src: url('Netflix Sans.eot');
    src: url('Netflix Sans.eot?iefix') format('eot'),
         url('Netflix Sans.woff') format('woff'),
         url('Netflix Sans.ttf') format('truetype'),
         url('Netflix Sans.svg#Karla-Regular') format('svg');
}

.navbar-default .navbar-nav > .active > a{
	color: white;
	background-color: transparent;
}

.navbar-default
{
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a
{
	color: white;
}

a{ 
	text-decoration: none;
	background: transparent;
}

.navbar-right
{
	height: 50px;
	margin-top: -10px;
}



.navbar-brand
{
 padding-top: 15px;

}

.row, .menu
{
	display: flex;
}

.col
{
	text-align: center;
}

p 
{ 
	text-align: center ;
}
justify
em {
	text-style: italic;
	color: red;
}

strong {
	text-style: bold;
	color: blue;
}
ul {
	text-align: left;
}
h1{ 
color:white;
}


.container
{
	position: relative;
	margin-top:30px;
	width:auto;
	padding: 5px;
}

.col
{
	padding: 5px;
}

#nav {
	padding: 0; 
	margin: 0;
	text-align: center; /* centrer le texte */
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a {
	display:inline-block;
	margin: 0 30px;
}
article{
	float: left;
	width: 66%;
}
#sidebar {
	float: right;
	width: 33%;
}
footer{
	clear:both;
	color:blue;
	background-color:red;
}

h3
{
	text-align:center;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
}