	body
	{
	padding-left:0px;
	padding-right:0px;
		
	}
	img
	{
		padding-left: 0px;
		width:100%;
	}
	article
	{
		clear:both;
		display: block;
		margin-left: 0px;
		width:100%;
	}
	
#sidebar 
	{
		clear:both;
		width:100%;
	}
	